<div class = "video">
  <div class="flex-video widescreen span8">
    <iframe src="http://player.vimeo.com/video/69732980" width="610" height="346" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/69732980">SG2015 | A Grid_Synergy Transmedia Initiative</a> from <a href="http://vimeo.com/gridproduction">Grid_Synergy</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>

  <div class="note span4">
    <h3>Monthly Meeting with <br />
      Central Singapore CDC</h3>
    <ul>
      <li>Date: 12 August 2013</li>
      <li>Time: 7pm - 10 pm</li>
      <li>Venue: Central Singapore CDC</li>
    </ul>
  </div>
  <div class = "clear"></div>
  <div class = "video-heading"><h2>What is <strong>Sg2015</strong>?</h2></div>
  <div class = "video-text">
    <p> To commemorate this significant milestone in our nation's history, we have taken the initiative to begin a ground-up movement that<br /> aspires to create 50 people-driven project ideas based on the values in our National Pledge. We hope these projects can be<br />presented as a birthday gift to our nation on 9 Aug 2015. </p>

    <p>Singapore belongs to us, her citizens, and we hope that SG2015 will bring us together as a nation,<br />bound in our shared purpose to define Singapore for the next 50 years. </p>
  </div>
</div>
<div class = "clear"></div>

<div class = "announcement">
  <strong>ANNOUNCEMENT </strong>: Please visit www.sg2015.com from 1 Aug to upload your project ideas! In the meantime, do register with us if you are interested to be part of our first  SG2015 volunteers' meeting scheduled for Aug 2013!
</div>
<!--  MAILCHIMP  -->
<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
  <form action="http://gridsynergy.us7.list-manage1.com/subscribe/post?u=c7c33ddf3e0e579b3d9a916e2&amp;id=0839e3e360" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h2>Subscribe our Newsletter</h2>
    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
      </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
</div>
<script type="text/javascript">
  var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';
  try {
    var jqueryLoaded=jQuery;
    jqueryLoaded=true;
  } catch(err) {
    var jqueryLoaded=false;
  }
  var head= document.getElementsByTagName('head')[0];
  if (!jqueryLoaded) {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
    head.appendChild(script);
    if (script.readyState && script.onload!==null){
      script.onreadystatechange= function () {
        if (this.readyState == 'complete') mce_preload_check();
      }
    }
  }
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
  head.appendChild(script);
  var err_style = '';
  try{
    err_style = mc_custom_error_style;
  } catch(e){
    err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
  }
  var head= document.getElementsByTagName('head')[0];
  var style= document.createElement('style');
  style.type= 'text/css';
  if (style.styleSheet) {
    style.styleSheet.cssText = err_style;
  } else {
    style.appendChild(document.createTextNode(err_style));
  }
  head.appendChild(style);
  setTimeout('mce_preload_check();', 250);

  var mce_preload_checks = 0;
  function mce_preload_check(){
    if (mce_preload_checks>40) return;
    mce_preload_checks++;
    try {
      var jqueryLoaded=jQuery;
    } catch(err) {
      setTimeout('mce_preload_check();', 250);
      return;
    }
    try {
      var validatorLoaded=jQuery("#fake-form").validate({});
    } catch(err) {
      setTimeout('mce_preload_check();', 250);
      return;
    }
    mce_init_form();
  }
  function mce_init_form(){
    jQuery(document).ready( function($) {
      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
      options = { url: 'http://gridsynergy.us7.list-manage1.com/subscribe/post-json?u=c7c33ddf3e0e579b3d9a916e2&id=0839e3e360&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
        beforeSubmit: function(){
          $('#mce_tmp_error_msg').remove();
          $('.datefield','#mc_embed_signup').each(
              function(){
                var txt = 'filled';
                var fields = new Array();
                var i = 0;
                $(':text', this).each(
                    function(){
                      fields[i] = this;
                      i++;
                    });
                $(':hidden', this).each(
                    function(){
                      var bday = false;
                      if (fields.length == 2){
                        bday = true;
                        fields[2] = {'value':1970};//trick birthdays into having years
                      }
                      if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                        this.value = '';
                      } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                        this.value = '';
                      } else {
                        if (/\[day\]/.test(fields[0].name)){
                          this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;
                        } else {
                          this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                        }
                      }
                    });
              });
          return mce_validator.form();
        },
        success: mce_success_cb
      };
      $('#mc-embedded-subscribe-form').ajaxForm(options);


    });
  }
  function mce_success_cb(resp){
    $('#mce-success-response').hide();
    $('#mce-error-response').hide();
    if (resp.result=="success"){
      $('#mce-'+resp.result+'-response').show();
      $('#mce-'+resp.result+'-response').html(resp.msg);
      $('#mc-embedded-subscribe-form').each(function(){
        this.reset();
      });
    } else {
      var index = -1;
      var msg;
      try {
        var parts = resp.msg.split(' - ',2);
        if (parts[1]==undefined){
          msg = resp.msg;
        } else {
          i = parseInt(parts[0]);
          if (i.toString() == parts[0]){
            index = parts[0];
            msg = parts[1];
          } else {
            index = -1;
            msg = resp.msg;
          }
        }
      } catch(e){
        index = -1;
        msg = resp.msg;
      }
      try{
        if (index== -1){
          $('#mce-'+resp.result+'-response').show();
          $('#mce-'+resp.result+'-response').html(msg);
        } else {
          err_id = 'mce_tmp_error_msg';
          html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

          var input_id = '#mc_embed_signup';
          var f = $(input_id);
          if (ftypes[index]=='address'){
            input_id = '#mce-'+fnames[index]+'-addr1';
            f = $(input_id).parent().parent().get(0);
          } else if (ftypes[index]=='date'){
            input_id = '#mce-'+fnames[index]+'-month';
            f = $(input_id).parent().parent().get(0);
          } else {
            input_id = '#mce-'+fnames[index];
            f = $().parent(input_id).get(0);
          }
          if (f){
            $(f).append(html);
            $(input_id).focus();
          } else {
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(msg);
          }
        }
      } catch(e){
        $('#mce-'+resp.result+'-response').show();
        $('#mce-'+resp.result+'-response').html(msg);
      }
    }
  }

</script>