<div class = "project-header content-heading">
  <div class = "media-heading"><h2 ng-bind="project.name"></h2></div>
  <a ng-show="project.organizer_id == user.id" href="#/projects.edit/{{ project.id }}" class="btn btn-info">Edit</a>
</div>

<div class = "media">
  <div class = "span8 text-content">
    <!--<img src = "img/projects/projecta.png">-->
    <carousel interval="5000">
      <slide ng-repeat="slide in project.project_photos" active="slide.active">
        <img ng-src="{{slide.url}}" style="width: auto;height: 225px;max-height: 225px; margin:auto;">
      </slide>
    </carousel>

    <strong class = "text-heading">Project Objective</strong>
    <p ng-bind="project.objective_summary"></p>
    <strong ng-show="project.first_objective" class = "text-heading">First Objective</strong>
    <p ng-bind="project.first_objective"></p>
    <strong ng-show="project.second_objective" class = "text-heading">Second Objective</strong>
    <p ng-bind="project.second_objective"></p>
    <strong ng-show="project.third_objective" class = "text-heading">Third Objective</strong>
    <p ng-bind="project.third_objective"></p>
    <strong ng-show="project.inspiration_behind" class = "text-heading">The inspiration behind this project</strong>
    <p ng-bind="project.inspiration_behind"></p>
    <strong ng-show="project.target_audience" class = "text-heading">This project seeks to serve</strong>
    <p ng-bind="project.target_audience"></p>
    <strong ng-show="project.why_meet_objectives" class = "text-heading">Why does it meet the objective of our pledge</strong>
    <p ng-bind="project.why_meet_objectives"></p>
    <strong ng-show="project.how_to_accomplish" class = "text-heading">We will know it is accomplished when</strong>
    <p ng-bind="project.how_to_accomplish"></p>
    <strong ng-show="project.when_accomplish" class = "text-heading">We will know it is accomplished when</strong>
    <p ng-bind="project.when_accomplish"></p>
    <strong ng-show="project.why_support" class = "text-heading">Why should you support this project</strong>
    <p ng-bind="project.why_support"></p>
    <strong ng-show="project.how_to_support" class = "text-heading">How you can support us</strong>
    <p ng-bind="project.how_to_support"></p>
    <strong ng-show="project.announcement" class = "text-heading">Announcement</strong>
    <p ng-bind="project.announcement"></p>
    <strong ng-show="project.youtube_vid" class = "text-heading">Video</strong>
    <iframe ng-show="project.youtube_vid" width="560" height="315" src="//www.youtube.com/embed/{{ project.youtube_vid }}" frameborder="0" allowfullscreen></iframe>
    <strong ng-show="project.facebook_page" class = "text-heading">Facebook Page</strong>
    <p ng-bind="project.facebook_page"></p>

    <legend>Project Leaders</legend>
    <ol>
      <li ng-repeat="leader in project.project_leaders">
        <span>{{ leader.name }}</span> - <span>{{ leader.contact_number }}</span>
      </li>
    </ol>
  </div>
  <div class = "span4 sidebar">
    <div class = "sidebar-info">
      <div><span ng-bind="project.no_of_supporters">0</span> Supporters</div>
      <div><span ng-bind="project.no_of_volunteers">0</span> Volunteers</div>
    </div>
    <div class = "media-details">
      <h3>Upcoming Events</h3>
      <a ng-click="support()">I Want to Support</a>
      <a ng-click="volunteer()">I Want to Volunteer</a>
    </div>
  </div>

  <div class = "clear"></div>
</div>