<div class = "content-heading">
  <div class = "about-heading"><h2>User Profile</h2></div>
</div>

<div class = "container user-profile">
  <div class = "span4 no-margin">
    <img ng-src = "{{ current_user.photo_url }}?type=large">
  </div>
  <div class = "span8">
    <legend>
      <h3 class="muted" ng-bind-template="{{ current_user.first_name }} {{ current_user.last_name }}"></h3>
    </legend>
    <div></div>
    <table class = "user-details">
      <tr class = "no-margin"><td>Email</td><td ng-bind="current_user.email"></td></tr>
      <tr class = "no-margin"><td>Contact</td><td ng-bind="current_user.phone"></td></tr>
      <tr class = "no-margin"><td>Location</td><td ng-bind="current_user.location"></td></tr>
      <tr class="no-margin"><td></td><td><a href="#/user.profile.edit" class="btn btn-info">Edit</a></td></tr>
    </table>
  </div>
  <div class = "clear"></div>
</div>
<div class="container">
  <div class="span12">
    <tabset>
      <tab heading="Created Projects">
        <div ng-repeat="project in current_user.organized_projects">
          <div class="container">
            <h3><a ng-href="#/projects.show/{{ project.id }}">{{ project.name }}</a></h3>
            <a class="btn btn-info" ng-href="#/projects.edit/{{ project.id }}">Edit</a>
            <a class="btn" ng-href="#/projects.volunteers/{{ project.id }}">View volunteers</a>
          </div>
        </div>
        <div>
          <strong ng-show="current_user.organized_projects.length == 0">No Projects</strong>
        </div>
      </tab>
      <tab heading="Volunteered">
        <div ng-repeat="project in current_user.volunteering_projects">
          <h3><a ng-href="#/projects.show/{{ project.id }}">{{ project.name }}</a></h3>
        </div>
        <div>
          <strong ng-show="current_user.volunteering_projects.length == 0">No Projects</strong>
        </div>
      </tab>
    </tabset>
  </div>
</div>
