<div class="container">
  <form novalidate ng-submit="submitForm()" name="profileEditForm">
    <div class="row">
      <div class="span6">
        <h3>Edit your profile</h3>
      </div>
    </div>
    <div class="border10_dotted"></div>
    <div class="row">
      <div class="span6">
        <h4>Your Account</h4>
      </div>
      <div class="span3 offset6">
        <div class="control-group small">
          <label class="control-label">First Name</label>
          <input type="text" ng-model="current_user.first_name" class="span3">
        </div>
      </div>
      <div class="span3">
        <div class="control-group small">
          <label class="control-label">Last Name</label>
          <input type="text" ng-model="current_user.last_name" class="span3">
        </div>
      </div>
      <div class="span6 offset6">
        <div class="span3 control-group small">
                    <span class="btn btn-small btn-info fileupload-wrapper">
                        <i class="fui-plus"></i>
                        <span>&nbsp;Upload Profile Picture</span>
                        <input type="file" fileupload name="picture"
                               uploader-id="avatar-uploader"
                               server-domain="http://sgattractions.com:3003"
                               service-path="pictures" />
                    </span>
        </div>
        <div class="span2">
          <span class="label label-primary">{{avatar_upload_state}}</span>
          <img ng-show="current_user.photo_url != '' && current_user.photo_url != null "
               nailthumb
               ng-src="{{current_user.photo_url}}">
        </div>
      </div>
    </div>
    <div class="border10_dotted"></div>
    <div class="row">
      <div class="span6">
        <h4>Talent Type</h4>
      </div>
      <div class="span6">
        <div class="control-group small">
          <label class="control-label">What kind of talent are you?</label>
          <select ng-model="current_user.job_category_id" ng-options="cat.id as cat.name for cat in job_categories"></select>
        </div>
        <div class="control-group small">
          <label class="control-label">Job Title</label>
          <input type="text" ng-model="current_user.job_title" class="span6">
        </div>
        <div class="control-group small">
          <label class="control-label">Years of Experience</label>
          <input type="text" ng-model="current_user.years_of_experience" class="span6">
        </div>
        <div class="control-group">
          <label class="control-label">Professional History</label>
          <textarea rows="5" ng-model="current_user.professional_history" class="span6"></textarea>
        </div>
      </div>
    </div>
    <div class="border10_dotted"></div>
    <div class="row">
      <div class="span6">
        <h4>Skill Type</h4>
      </div>
      <div class="span6">
        <div>
          <label class="control-label">Skills</label>
          <input tagsinput ng-list ng-model="current_user._skills" class="span6">
        </div>
        <div>
          <label class="control-label">Your Education/Certifications</label>
          <textarea rows="5" ng-model="current_user.education_and_certificates" class="span6"></textarea>
        </div>
      </div>
    </div>
    <div class="border10_dotted"></div>
    <div class="row">
      <div class="span6">
        <h4>Other Information</h4>
      </div>
      <div class="span6">
        <div class="control-group">
          <label class="control-label">Extra Information</label>
          <textarea rows="5" ng-model="current_user.other_information" class="span6"></textarea>
        </div>
        <div class="control-group">
          <label class="control-label">Your Accolades/Awards</label>
          <textarea rows="5" ng-model="current_user.accolades_and_awards" class="span6"></textarea>
        </div>
        <div class="control-group small">
          <label class="control-label">Your Portfolio URL</label>
          <input type="url" ng-model="current_user.portfolio" class="span6">
        </div>
      </div>
    </div>
    <div class="border10_dotted"></div>
    <div class="row">
      <div class="span6">
        <h4>Remuneration</h4>
      </div>
      <div class="span6">
        <div class="control-group">
          <label class="control-label">Rate, per day(8 hours), for the work done by you</label>
          <input type="text" ng-model="current_user.day_rate" class="span6">
        </div>
      </div>
    </div>
    <div class="border10_dotted"></div>
    <div class="row">
      <div class="span6 offset6">
        <div class="control-group">
          <button class="btn btn-primary btn-block" type="submit">Done</button>
        </div>
      </div>
    </div>
  </form>
</div>