<ul id="account_sidenav">
  <li ui-route="#/dashboard.employer" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.employer">
      Dashboard
    </a>
  </li>
  <li ui-route="#/dashboard.employer.notifications" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.employer.notifications">
      Notification
      <div class="noti-circle">
        3
      </div>
    </a>
  </li>
  <li ui-route="#/dashboard.employer.pending_projects" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.employer.pending_projects">
      Pending Projects (3)
    </a>
  </li>
  <li ui-route="#/dashboard.employer.active_projects" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.employer.active_projects">
      Active Projects (1)
    </a>
  </li>
  <li ui-route="#/dashboard.employer.completed_projects" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.employer.completed_projects">
      Completed Projects (5)
    </a>
  </li>
  <li ui-route="#/dashboard.employer.profile" ng-class="{active: $uiRoute}">
    <a href="#/dashboard.employer.profile">
      Profile
    </a>
  </li>
</ul>