<div class="footer">
  <div class="container">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span10">
          <ul class="footer-menu">
            <li>SG2015.com © 2013. All Rights Reserved
            </li>
            <li>
              <a href="about.html"><img src="img/footer/about.png">About Us</a>
            </li>
            <li>
              <a href="projects.html"><img src="img/footer/press.png">Press</a>
            </li>
            <li>
              <a href="#"><img src="img/footer/faq.png">FAQ</a>
            </li>
            <li>
              <a href="#"><img src="img/footer/project.png">Projects</a>
            </li>
            <li>
              <a href="#"><img src="img/footer/start.png">Start</a>
            </li>
            <li>
              <a href="#"><img src="img/footer/contact.png">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="span2 social">
          Like Us on Facebook
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
