<div class="container">
  <div class="row">
    <div class="span12">
      <h4 class="title-listing-1">Available Projects: <span class="title-listing-1-skill">Icon design</span></h4>
    </div>
    <div class="span3">
      <div class="con_box listing-sidebar sidebar-search">
        <h6 class="title-sidebar-1">Find a project</h6>
        <form class="form-search " action="">
          <div class="input-append">
            <input type="text" class="search-query span2" placeholder="Search">
            <button type="submit" class="btn btn-large"> <i class="fui-search"></i> </button>
          </div>
        </form>
      </div>
      <div class="con_box listing-sidebar sidebar-categories">
        <div class="">
          <h6 class="title-sidebar-1">Categories</h6>
          <ul class="side_second_menu filterlinks pricefilters">
            <li><a href="">Graphic Design</a></li>
            <li><a href="">Writing</a></li>
            <li><a href="">Software Development</a></li>
            <li><a href="">Multimedia</a></li>
            <li><a href="">Admin Support</a></li>
            <li><a href="">Sales & Marketing</a></li>
            <li><a href="">Translation</a></li>
            <li><a href="">Business Services</a></li>
          </ul>
        </div>
      </div>
      <!-- end of con_box -->

      <div class="con_box listing-sidebar sidebar-categories">
        <div class="">
          <h6 class="title-sidebar-1">Budget</h6>
          <ul class="side_second_menu filterlinks pricefilters">
            <li><a href="">below $500 </a></li>
            <li><a href="">$501 - $1000</a></li>
            <li><a href="">$1001 - $2000</a></li>
            <li><a href="">$3001 - $4000</a></li>
            <li><a href="">more than $4000</a></li>
          </ul>
        </div>
      </div>
      <!-- end of con_box -->

    </div>
    <!-- end of span3 -->

    <div class="span9">
      <div class="slider_div projects_listing_div con_box">
        <div class="slider_details_con"> <a href="">
          <h3>Freelance Web Design Engineer needed</h3>
        </a>
          <div class="slider_skills"> <span class="demo-inline"> <span class="label">CSS3</span> <span class="label">HTML5</span> <span class="label">Javascript</span> </span> <!-- /tags -->
          </div>
          <!-- /row -->

          <div class="slider_details_1">
            <div class="slider_price"><span>Budget:</span> $500.00 - $1,500</div>

            <div class="slider_place"><i class="fui-location"></i> Singapore</div>
            <div class="clearfix"></div>


          </div>

          <div class="slider_bid">
            <p>If you are interested to work on this project, please bid for it.</p>
            <a id="" style="" class="btn btn-header-nav btn-success" href="#">Bid for this project</a><div class="clearfix"></div>
          </div>

        </div>



        <div class="clearfix"></div>
      </div>
      <!-- end of slider_div -->

      <div class="slider_div projects_listing_div con_box">
        <div class="project-offer-to">
          <div class="offer-name"> <i class="icon-bolt"></i> Bid by <a href="">The-designer-name-1</a>, <a href="">The-designer-name-2</a>, <a href="">The-designer-name-3</a> </div>
          <div class="offer-name"> <i class="icon-arrow-right"></i> Offered to <a href="">The-designer-name-1</a>, <a href="">The-designer-name-2</a>, <a href="">The-designer-name-3</a> </div>
        </div>
        <!-- end of project-offer-to -->

        <div class="hr1"></div>
        <div class="final-offer-div">
          <div class="final-offer-div-desc">Final offer to: </div>
          <select>
            <option>The-designer-name-1</option>
            <option>The-designer-name-2</option>
            <option>The-designer-name-3</option>
            <option>The-designer-name-4</option>
            <option>The-designer-name-5</option>
          </select>
          <a id="" style="" class="btn btn-header-nav btn-primary" href="#">Confirm</a> </div>
        <div class="clearfix"></div>
      </div>
      <!-- end of slider_div -->

      <div class="slider_div con_box">
        <h6 class="con-box-title-1"><i class="icon-file-text-alt"></i> Project Info</h6>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <div class="hr1"></div>
        <h6 class="con-box-title-1"><i class="icon-calendar"></i> Project Timeline</h6>
        <p>19th July 2013 to 25th July 2013</p>
        <div class="hr1"></div>
        <h6 class="con-box-title-1"><i class="icon-file-text"></i> More info</h6>
        <p>Nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>


      </div>
      <!-- end of con_box -->

    </div>
    <!-- end of span9 -->
  </div>
</div>