<div class="body_container">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="con_box uncon_box">
          <a class="btn btn-block btn-primary" href="#/projects">Browse All Projects</a>
          <a class="btn btn-block btn-danger" ng-show="project.employer.id == current_user.id" href ng-click="deleteProject()">Delete This Projects</a>
          <a class="btn btn-block btn-info" ng-show="project.employer.id == current_user.id" href="#/dashboard.edit_project/{{ project.id }}">Edit This Projects</a>
        </div>
      </div>
      <!-- end of span3 -->

      <div class="span9">
        <h4 class="title-listing-1">Project in <span class="title-listing-1-skill">{{project.job_category.name}}</span></h4>
        <div class="slider_div projects_listing_div con_box">
          <div class="slider_details_con">
            <h3>{{ project.title }}</h3>
            <div class="slider_skills">
              <span class="demo-inline">
                <span class="label" ng-repeat="tag in project.tags">{{tag}}</span>
              </span>
            </div>
            <!-- /row -->

            <div class="slider_details_1">
              <div class="slider_price"><span>Budget:</span> {{ project.budget_range }}</div>

              <div class="slider_place"><i class="fui-location"></i> {{ project.company_location }}</div>
              <div class="clearfix"></div>


            </div>

            <div class="slider_bid" ng-show="user_type=='freelancer'">
              <p>If you are interested to work on this project, please bid for it.</p>
              <a ng-click="bidProject()" class="btn btn-header-nav btn-success" href>Bid for this project</a><div class="clearfix"></div>
            </div>

          </div>



          <div class="clearfix"></div>
        </div>
        <!-- end of slider_div -->

        <div class="slider_div projects_listing_div con_box">
          This project has {{ project.bidders.length }} bids
          <div class="clearfix"></div>
        </div>
        <!-- end of slider_div -->

        <div class="slider_div con_box">
          <h6 class="con-box-title-1"><i class="icon-file-text-alt"></i> Project Description</h6>
          <p ng-bind-template="{{ project.project_description }}"></p>
          <div class="hr1"></div>
          <h6 ng-show="project.project_timeline" class="con-box-title-1"><i class="icon-calendar"></i> Project Timeline</h6>
          <p ng-show="project.project_timeline" ng-bind="project.project_timeline"></p>
          <div class="hr1"></div>
          <h6 ng-show="project.additional_info" class="con-box-title-1"><i class="icon-file-text"></i> More info</h6>
          <p ng-show="project.additional_info" ng-bind-template="{{ project.additional_info }}"></p>


        </div>
        <!-- end of con_box -->

      </div>
      <!-- end of span9 -->
    </div>
  </div>
</div>