<div class="body_container">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div>
          <h6 class="title-sidebar-1"><a href="#/projects">Browse All Projects</a></h6>
        </div>
        <div class="con_box listing-sidebar sidebar-search">
          <h6 class="title-sidebar-1">Find a project</h6>
          <form class="form-search ">
            <div class="input-append">
              <input search-input type="text" class="search-query span2" placeholder="Search">
              <button search-button type="submit" class="btn btn-large"> <i class="fui-search"></i> </button>
            </div>
          </form>
        </div>
        <div class="con_box listing-sidebar sidebar-categories">
          <div class="">
            <h6 class="title-sidebar-1">Categories</h6>
            <ul class="side_second_menu">
              <search-menu name="job_categories" options="item as item.name for item in job_categories"></search-menu>
            </ul>
          </div>
        </div>

        <div class="con_box listing-sidebar sidebar-categories">
          <div class="">
            <h6 class="title-sidebar-1">Budgets</h6>
            <ul class="side_second_menu">
              <search-menu name="budget_range" options="item as item for item in budget_ranges"></search-menu>
            </ul>
          </div>
        </div>
      </div>
      <!-- end of span3 -->

      <div class="span9">
        <h4 class="title-listing-1">Project in <span class="title-listing-1-skill">{{project.job_category.name}}</span></h4>
        <div class="slider_div projects_listing_div con_box">
          <div class="slider_details_con"> <a>
            <h3>{{ project.title }}</h3>
          </a>
            <div class="slider_skills">
              <span class="demo-inline">
                <span class="label" ng-repeat="tag in project.tags">{{tag}}</span>
              </span>
            </div>
            <!-- /row -->

            <div class="slider_details_1">
              <div class="slider_price"><span>Budget:</span> {{ project.budget_range }}</div>

              <div class="slider_place"><i class="fui-location"></i> {{ project.company_location }}</div>
              <div class="clearfix"></div>


            </div>

            <div class="slider_bid">
              <p>If you are interested to work on this project, please bid for it.</p>
              <a id="" style="" class="btn btn-header-nav btn-success" href="#">Bid for this project</a><div class="clearfix"></div>
            </div>

          </div>



          <div class="clearfix"></div>
        </div>
        <!-- end of slider_div -->

        <div class="slider_div projects_listing_div con_box">
          <div class="project-offer-to">
            <div class="offer-name"> <i class="icon-bolt"></i> Bid by <a href="">The-designer-name-1</a>, <a href="">The-designer-name-2</a>, <a href="">The-designer-name-3</a> </div>
            <div class="offer-name"> <i class="icon-arrow-right"></i> Offered to <a href="">The-designer-name-1</a>, <a href="">The-designer-name-2</a>, <a href="">The-designer-name-3</a> </div>
          </div>
          <!-- end of project-offer-to -->

          <div class="hr1"></div>
          <div class="final-offer-div">
            <div class="final-offer-div-desc">Final offer to: </div>
            <select>
              <option>The-designer-name-1</option>
              <option>The-designer-name-2</option>
              <option>The-designer-name-3</option>
              <option>The-designer-name-4</option>
              <option>The-designer-name-5</option>
            </select>
            <a id="" style="" class="btn btn-header-nav btn-primary" href="#">Confirm</a> </div>
          <div class="clearfix"></div>
        </div>
        <!-- end of slider_div -->

        <div class="slider_div con_box">
          <h6 class="con-box-title-1"><i class="icon-file-text-alt"></i> Project Description</h6>
          <p ng-bind-template="{{ project.project_description }}"></p>
          <div class="hr1"></div>
          <h6 ng-show="project.project_timeline" class="con-box-title-1"><i class="icon-calendar"></i> Project Timeline</h6>
          <p ng-show="project.project_timeline" ng-bind="project.project_timeline"></p>
          <div class="hr1"></div>
          <h6 ng-show="project.additional_info" class="con-box-title-1"><i class="icon-file-text"></i> More info</h6>
          <p ng-show="project.additional_info" ng-bind-template="{{ project.additional_info }}"></p>


        </div>
        <!-- end of con_box -->

      </div>
      <!-- end of span9 -->
    </div>
  </div>
</div>